body {
    background-color: rgb(2, 37, 51);
}

.container{
    padding-top: 80px;
}

.about-box{
    color: white;
    margin-top: 40px;
}

.about-head{
text-align: center;
}

.text-content{
    font-size:16px;
    margin-top: 40px;
}

.about-logo{
    margin-top: 40px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 400px;
}

.prof-pic{
    margin-top: 40px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 500px;
}