body{
    background-color:  rgb(2, 37, 51);
}

#email-form{
    margin-top: 100px;
}

#body{
    margin-top: 25px;
    margin-bottom: 10px;
}

#name{
    margin-right: 10px;
    margin-top: 10px;
}

#address{
    margin-top: 10px;
}